body {
    width:100%;
    margin:0;
    font-family: 'Lora',
    serif;
}

hr{
    width:75%;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.container {
    margin-left: 50px;
    margin-right:50px;
    margin-top:5px;
    margin-bottom:5px;
    padding:10px;
    border-left: 2px solid gray;
}

.container h2{
    margin-top:2px;
}

.card{
    border:1px solid gray;
    width:375px;
    padding:10px;
    text-align: left;
    box-shadow: 5px 5px 5px gray;
    float:left;
    margin: 10px;
}

.card h3{
    margin-top:2px;
}

.closer{
    clear: both;
}