<script src="https://donorbox.org/widget.js" paypalExpress="false"></script>
<div style="display: grid; place-items: center; margin-block: var(--sp-8);">
  <iframe src="https://donorbox.org/embed/ohm-2021-campaign?hide_donation_meter=true"
          name="donorbox" allowpaymentrequest="" seamless="seamless" frameborder="0" scrolling="no"
          height="900" width="100%"
          style="max-width: 500px; min-width: 250px; max-height: none !important; border: 1px solid var(--rule);"
          title="Donate to Open History Map"></iframe>
</div>
